*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
.head{
    width: 100%;
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: center;
}
.head2{
    font-size: 50px;
    font-weight: bold;
    padding-left: 30px;
}
.Nav1{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.navpar{
    font-size: 40px;
    font-weight: bold;
    /* padding-left: 30px; */
}
.navdivs{
display: flex;
justify-content: space-between;
/* width: 100%; */
gap: 20px;
}
.itemdiv{
    width: 80px;
    height: 30px;
    background-color: aliceblue;
    
}
.div100{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    display: flex;
}
article{
    flex: 3;
    background-color: lightblue;
    /* height: 400px; */
    padding: 20px;
}
aside{
    margin-left: 20px;
    background-color: lightgray;
    /* height: 400px; */
    flex: 1;
    padding: 20px;
}
p{
 font-size: 40px;
    font-weight: bold;
}
section{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: aqua;
    display: flex;
align-items: center;
}
.p1{
    font-size: 30px;
 margin-left: 20px;
}
.p2{
text-align: center;
}
.section12{
background-color: grey;
}
footer{
    margin-top: 20px;
    background-color: orange;
    height: 100px;
    text-align: left;
    padding-left: 20px;
    display: flex;
   align-items: center;
}
